@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700&display=swap');
$appleFont: 'Lato', sans-serif;
$linkColor: #2C9DD7;
$navGradient: linear-gradient(
    to bottom,
    rgb(134, 134, 134) 5%,
    rgb(128, 128, 128) 50%,
    rgb(107, 107, 107) 51%,
    rgb(99, 99, 99) 8%,
    rgb(121, 121, 121) 94%
  );
$navHover: rgba(0, 0, 0, 0.4);
$inputBorder: 1px solid #2e2e2e;