header {
  height: 550px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: $heroImg;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  font-family: $appleFont;
  text-align: center;
  color: white;
  margin-bottom: 50px;

  & > h1 {
    padding-top: 30px;
    font-weight: 200;
    font-size: 64rem;
    letter-spacing: 1px;
    transform: scale(0.91, 1);
  }
  
  & > h2 {
    font-weight: 300;
    font-size: 30rem;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  & > a {
    font-weight: 200;
    font-size: 24rem;

    & > img {
      height: 20px;
    }
  }

  & > a:hover {
    text-decoration: underline;
  }
}

.floatingNav {
  width: 980px;
  height: 38px;
  border-radius: 3px;
  background: $navGradient;
  border: 1px solid $grey600;
  margin: 0 auto;
}

.navMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & > li {
    width: 100%;
    padding: 10px 25px;
    font-weight: 700;
    font-size: 12rem;
    color: white;
    border-left: 1px solid $grey700t;
    text-shadow: $textShadow;

    &:hover {
      background: $navHover;
    }
  }

  & > li:first-child {
    padding: 0px 25px;
    border-left: none;

    &:hover {
      background: $navHover;
    }
  }

  & > li:last-child {
    padding: 3px 5px 0px 5px;
    display: inline-block;

    & > input {
      border-radius: 20px;
      border-top: $inputBorder;
      box-shadow: $inputShadow;
      width: 110px;
      height: 24px;
      background: $searchImg;
      background-size: 13px;
      background-position: 8px 4px;
      background-repeat: no-repeat;
      transition: all 0.3s ease-in-out;
      padding: 0px 0px 0px 25px;

      &:focus {
        width: 175px;
        background-image: $searchBlackImg;
        background-color: white;
        background-size: 13px;
        background-position: 8px 4px;
        background-repeat: no-repeat;
        outline: none;
        border: $inputBorder;
        color: $grey900;
      }
    }
    &:hover {
      background: transparent;
    }
  }

  & a{
    cursor: pointer;
  }
}

.logo {
  margin: 3px;
  height: 23px;
  width: 17px;
}
